<div class="conten-chat">
    <div class="view">
        <div class="message-your">como estas</div>
        <div class="message-own">hola</div>
        <div class="message-your">como estas</div>
        <div class="message-own">hola</div>
        <div class="message-your">como estas</div>
        <div class="message-own">hola</div>
        <div class="message-your">como estas</div>
        <div class="message-own">hola</div>
        <div class="message-your">como estas</div>
        <div class="message-own">hola</div>
        <div class="message-your">como estas</div>
        <div class="message-own">hola</div>
        <div class="message-your">como estas</div>
        <div class="message-own">hola</div>
        <div class="message-your">como estas</div>
        <div class="message-own">hola</div>
        <div class="message-your">como estas</div>
        <div class="message-own">hola</div>
        <div class="message-your">como estas</div>
        <div class="message-own">hola</div>
        <div class="message-your">como estas</div>
        <div class="message-own">hola</div>
        <div class="message-your">como estas</div>
        <div class="message-own">hola</div>
        <div class="message-your">como estas</div>
        <div class="message-own">hola</div>
        <div class="message-your">como estas</div>
        <div class="message-own">hola</div>
        <div class="message-your">como estas</div>
        <div class="message-own">hola</div>
        <div class="message-your">como estas</div>
        <div class="message-own">hola</div>
        <div class="message-your">como estas</div>
        <div class="message-own">hola</div>
        <div class="message-your">como estas</div>
        <div class="message-own">hola</div>
        <div class="message-your">como estas</div>
        <div class="message-own">hola</div>
        <div class="message-your">como estas</div>
        <div class="message-own">hola</div>
        <div class="message-your">como estas</div>
        <div class="message-own">hola</div>
    </div>
    <input type="text" name="comment" class="input-send" placeholder="Escribe un mensaje aquí">
    <input type="text" name="name" class="input-name" placeholder="Tu nombre">
</div>