

    <div class="d-flex flex-row">
       <div class="d-flex flex-column">
          <img src="https://picsum.photos/200/300?black" class="img-fluid">
          <img src="https://picsum.photos/500/800?car" class="img-fluid">
          <img src="https://picsum.photos/1000/900?food" class="img-fluid">
          <img src="https://picsum.photos/200/400?home" class="img-fluid">
       </div>
       <div class="d-flex flex-column">
          <img src="https://picsum.photos/1200/1700?green" class="img-fluid">
          <img src="https://picsum.photos/200/400?moto" class="img-fluid">
          <img src="https://picsum.photos/200/400?city" class="img-fluid">
          <img src="https://picsum.photos/1000/900" class="img-fluid">
       </div>
       <div class="d-flex flex-column">
          <img src="https://picsum.photos/200/300?office" class="img-fluid">
          <img src="https://picsum.photos/500/800?person" class="img-fluid">
          <img src="https://picsum.photos/1000/900?task" class="img-fluid">
          <img src="https://picsum.photos/200/400" class="img-fluid">
       </div>
       <div class="d-flex flex-column">
          <img src="https://picsum.photos/1200/1700?woman" class="img-fluid">
          <img src="https://picsum.photos/200/400?apple" class="img-fluid">
          <img src="https://picsum.photos/200/400?christmas" class="img-fluid">
          <img src="https://picsum.photos/1000/900?family" class="img-fluid">
       </div>
       <div class="d-flex flex-column">
          <img src="https://picsum.photos/200/300?phone" class="img-fluid">
          <img src="https://picsum.photos/500/800?dinner" class="img-fluid">
          <img src="https://picsum.photos/1000/900?clock" class="img-fluid">
          <img src="https://picsum.photos/200/400?blur" class="img-fluid">
       </div>
    </div>
